In [3]:
import sqlite3 as sq

In [6]:
# 회원가입
def insert_member(params):
    conn = sq.connect('../100.도전했조/static/DB/userinfo.db')
    cur = conn.cursor()

    sql = 'insert into user(uid, uname, pwd, gender, email, birthday) values( ?, ?, ?, ?, ?, ?);'
    cur.execute(sql, params)
    conn.commit()

    cur.close()
    conn.close()

In [7]:
params = ('na', 'naram', '1234', 2, 'abcda@gmail.com', '19940602')
insert_member(params)

In [27]:
# 회원정보 조회
def get_users():
    conn = sq.connect('../100.도전했조/static/DB/userinfo.db')
    cur = conn.cursor()

    sql = 'select * from user;'
    cur.execute(sql)
    rows = cur.fetchall()

    cur.close()
    conn.close()
    return rows

In [24]:
for row in rows:
    print(row)

('ga', 'garam', '1234', '19940602', 2, 'abcda@gmail.com', '2023-06-05')

In [16]:
# 정보수정
def update_member(params):
    conn = sq.connect('../100.도전했조/static/DB/userinfo.db')
    cur = conn.cursor()

    sql = 'update user set uname=?, pwd=?, gender=?, email=?, birthday=?'
    cur.execute(sql, params)
    conn.commit()

    cur.close()
    conn.close()

In [17]:
params = ('gaga', '4567', 2, 'abcda@gmail.com', '19940601')
update_member(params)

In [8]:
# 탈퇴
def delete_member(uid):
    conn = sq.connect('../100.도전했조/static/DB/userinfo.db')
    cur = conn.cursor()

    sql = 'delete from user where uid =?;'
    cur.execute(sql, (uid,))
    conn.commit()

    cur.close()
    conn.close()

In [10]:
delete_member('na')

In [25]:
# mid 한건만
def get_user_by_uid(uid):
    conn = sq.connect('../100.도전했조/static/DB/userinfo.db')
    cur = conn.cursor()

    sql = 'select count(*) from user where uid=?;'
    cur.execsute(sql, (uid,))
    row = cur.fetchone()

    cur.close()
    conn.close()
    return row[0]

In [26]:
get_user_by_mid('ga')

1

In [28]:
get_users()

[('ga', 'garam', '1234', '19940602', 2, 'abcda@gmail.com', '2023-06-05')]

In [ ]:
CREATE TABLE "user" (
	"uid"	TEXT NOT NULL,
	"uname"	TEXT NOT NULL,
	"pwd"	TEXT,
	"birthday"	TEXT NOT NULL,
	"gender"	INTEGER NOT NULL,
	"email"	TEXT,
	"regdate"	DATE NOT NULL DEFAULT CURRENT_DATE,
	PRIMARY KEY("uid")
);

In [ ]:
def create_table():
    conn = sq.connect('test22.db')
    cur = conn.cursor()

    sql = 'CREATE TABLE ttable(
    "uid"	TEXT NOT NULL,
    "uname"	TEXT NOT NULL,
    "pwd"	TEXT,
    "birthday"	TEXT NOT NULL,
    "gender"	INTEGER NOT NULL,
    "email"	TEXT,
    "regdate"	DATE NOT NULL DEFAULT CURRENT_DATE,
    PRIMARY KEY("uid")
    );'