In [14]:
import pandas as pd
from collections import Counter
import re
# df = pd.read_csv('data/melon_song_v2.csv')
df = pd.read_csv('data/check5.csv')

In [15]:
df.date.fillna(0, inplace=True)
df['date'] = df.date.astype(int).astype(str)
df.fillna('', inplace=True)
df['songId'] = df.songId.astype(str)
df.date = df.date.apply(lambda x: '-' if x == '0' else (x[:4] + '.' + x[4:6] + '.' + x[6:]) )
# df.lyric = df.lyric.str.replace('\r', '').str.replace('\n\n','\n').str.replace(' \n','\n').str.replace('\n\n  \n','\n').str.strip()
# df.lyric = df.lyric.str.replace('\n    반복\n','\n').str.replace('\n    반복','').str.replace(' x ','').str.replace('\n  ','').str.replace('\n\n','\n').str.replace(' \n\n','\n').str.replace(' \n','\n').str.strip()
# df.lyric = df.lyric.str.replace("[^0-9A-Za-zㄱ-ㅎㅏ-ㅣ가-힣'\n]", ' ', regex=True).str.replace("'",'').str.strip()

In [17]:
del df['total']
df.head(1)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq,ly_summary
0,418168,희재,성시경,발라드 국내영화,국화꽃 향기 OST,양재선,MGR,2003.02.01,https://cdnimg.melon.co.kr/cm/album/images/000...,332,138267,햇살은 우릴 위해 내리고\n바람도 서롤 감싸게 했죠\n우리 웃음속에 계절은 오고\n...,445029956 411111859,정말로 울면 내가 그댈 보내<br>준 것 같아서

In [73]:
df.shape

(6243, 14)

In [68]:
df[df.songId.str.contains('2947004')]

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq,total
5673,2947004,정녕,조항조,성인가요/트로트,2010 Johangjo Emotion2,조운파,임종수,20100927,https://cdnimg.melon.co.kr/cm/album/images/010...,4,1021,1 당신은 나에게 할말이없나요 ...,518850417 519085207,1 당신 나 하다 없다 아직 도나 하다 많다 당신 눈 엔 한 방울 눈물 이별 진실 ...

In [ ]:
# 6244 * 2 12488
# 인덱스 104 498948 삭제
# 인덱스 990 33218415 삭제
# 인덱스 1079 2667284 삭제 check2

# 6243 * 2 12486
# 인덱스 3949 31506637 대기중 check3
# 인덱스 5672 2947004 check3
df.shape

In [69]:
# df = df.drop(index=5673,axis=0)
# df.set_index('songId', inplace=True)
# df.reset_index(inplace=True)

In [18]:
df.to_csv('data/check5.csv', index=False)
# ch = pd.read_csv('data/check1.csv', dtype=str)

In [74]:
# df2 = df.head(6700)
# df2 = df.head(5680).tail(8)
yoyack = []
for i in df['lyric']:
    ego = i.split('\n')
    sentence_counts = Counter(ego)
    most_common_sentences = sentence_counts.most_common(2)
    for sentence, count in most_common_sentences:
        yoyack.append(sentence)
len(yoyack)

12486

In [75]:
yoyack_re = []
for i in range(0, len(yoyack), 2):
    sublist = '<br>'.join(yoyack[i:i+2]).strip()
    yoyack_re.append(sublist)

In [76]:
len(yoyack), len(yoyack_re)

(12486, 6243)

In [77]:
df['ly_summary'] = yoyack_re

In [78]:
df.tail(2)

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq,total,ly_summary
6241,34183979,인생 한잔,정은지,포크/블루스 국내드라마,술꾼도시여자들 OST Part 2,빨간양말,INAN,20211029,https://cdnimg.melon.co.kr/cm2/album/images/10...,12,4512,사랑도 이별도 오늘은 잠시 미뤄보자\n불안한 청춘도 내일로 잠시 미뤄두자\n떠나버린...,506225967 434154554,사랑 이별 오늘 잠시 미루다 보다 불안하다 청춘 내일 잠시 미루다 두다 떠나다 버리...,사랑도 이별도 오늘은 잠시 미뤄보자<br>한잔 들이켜 보자 나를 돌이켜보자
6242,31191637,6 o'clock,볼빨간사춘기,인디음악 포크/블루스,Red Diary 'Hidden Track',안지영,안지영,20180717,https://cdnimg.melon.co.kr/cm/album/images/101...,87,15668,Its 6 oclock\n너와 나는 시간이 빨라서\n시간이 달라서\n어쩔 수 없이 ...,458080033 442957041,It ' s 6 o ' clock 너 와 나 시간 빨 라서 시간 달라 서 어쩔 없이...,Oh why does it feel stupid<br>I just dont know

In [3]:
df.date

0       20030201
1       20220907
2       20051220
3       20220907
4       20221016
          ...
6238    20201026
6239    20050501
6240    19940625
6241    20211029
6242    20180717
Name: date, Length: 6243, dtype: int64

In [10]:
f'{df.date[0][:4]}.{df.date[0][4:6]}.{df.date[0][6:]}'

IndexError: invalid index to scalar variable.

In [ ]:
k = df.date
for i in k:
    if i != '0':
        new = i

In [ ]:
df.date = df.date.apply(lambda x: '-' if x == '0' else (x[:4] + '.' + x[4:6] + '.' + x[6:]) )

In [13]:
formatted_date = f'{df.date[0][:4]}.{df.date[0][4:6]}.{df.date[0][6:]}'

IndexError: invalid index to scalar variable.

In [79]:
df.to_csv('data/check5.csv', index=False)
# ch = pd.read_csv('data/check1.csv', dtype=str)