In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'data/melon_song.csv'
plist_filename1 = 'data/melon_playlist1.csv'
plist_filename2 = 'data/melon_playlist2.csv'

In [3]:
df = pd.read_csv(filename)
plist1 = pd.read_csv(plist_filename1)
plist2 = pd.read_csv(plist_filename2)
df.shape, plist1.shape, plist2.shape

((6247, 13), (3845, 5), (160459, 5))

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6247 entries, 0 to 6246
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   songId     6247 non-null   int64
 1   title      6247 non-null   object
 2   artist     6247 non-null   object
 3   genre      6245 non-null   object
 4   album      6247 non-null   object
 5   lyricist   5849 non-null   object
 6   composer   5845 non-null   object
 7   date       6202 non-null   float64
 8   img        6247 non-null   object
 9   comment    6247 non-null   int64
 10  like       6247 non-null   int64
 11  lyric      6247 non-null   object
 12  plylstSeq  6126 non-null   object
dtypes: float64(1), int64(3), object(9)
memory usage: 634.6+ KB

In [5]:
df.isna().sum()

songId         0
title          0
artist         0
genre          2
album          0
lyricist     398
composer     402
date          45
img            0
comment        0
like           0
lyric          0
plylstSeq    121
dtype: int64

In [ ]:
df.head()

In [ ]:
df.date.fillna(0, inplace=True)
df.date = df.date.astype(int).astype(str)
df.songId = df.songId.astype(str)
df.fillna('', inplace=True)
df.head()

### 1. 찾을 노래 제목과 아티스트 입력 받기

In [8]:
# 키워드 바꿔가면서 찾아보기
keyword_title = '안녕'
keyword_artist = '성시경'

In [ ]:
# 노래 제목으로 songId 찾기
df[df.title.str.contains(keyword_title)]

In [ ]:
df[df.artist.str.contains(keyword_artist)]

In [11]:
# 노래 제목과 가수로 찾기
songIds = df[df.title.str.contains(keyword_title) & df.artist.str.contains(keyword_artist)]
songIds

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
586,9646401,"다정하게, 안녕히",성시경,발라드 국내드라마,구르미 그린 달빛 OST Part.5,심현보,성시경,20160914,https://cdnimg.melon.co.kr/cm/album/images/027...,95,55052,얼핏 스치는 니 생각에도\n많은 밤들을 뒤척일 텐데\n괜찮다 말하기 엔 \n괜찮지가...,405737350 423448660
3729,1884329,안녕 나의 사랑,성시경,발라드,"여기, 내 맘속에...",유희열,유희열,20080612,https://cdnimg.melon.co.kr/cm/album/images/003...,150,64320,여름 냄새 벌써 이 거리에\n날 비웃듯 시간은 흐르네\n눈부신 햇살 얼굴을 가리면\...,424293700 432375006

In [13]:
songIds.songId.values

array(['9646401', '1884329'], dtype=object)

In [14]:
# 첫번째 songId로 검색해 보기 위해(원하는 것은 사용자가 선택하도록)
songId = songIds.songId.values[1]
songId

'1884329'

In [16]:
# 플레이리스트1에서  해당 songId가 들어가 있는 데이터프레임 추출
plist1[plist1.songIds.str.contains(songId)]

,plylstSeq,title,tag,like,songIds
10,483086564,90년대생들 미치게 할 추억의 2000-10' 발라드,#발라드 #추억 #회상 #가요 #2000년대 #2010년대 #가을 #감성 #새벽감...,4985,1563237 104788 2289924 1746411 732373 2949854 ...
33,512030827,자꾸 듣고 싶은 멜로디의 미디엄템포 발라드,#기분전환 #발라드 #미디엄템포 #노래방 #멜로디 #출퇴근 #산뜻한 #가을 #작업...,614,35383397 34657844 2093361 33625988 33439096 16...
231,524843468,달콤한 사랑..,#사랑 #달콤한,17,34930368 31709523 35383397 34927767 34787226 3...
774,424293700,추천 ♬ 발라드 맛집♪ No.1,#명품 #발라드 #추억 #회상 #사랑 #기쁨 #이별 #슬픔 #ralalra #노랫...,9339,1622154 1622996 3980980 1418635 3560411 156323...
824,511797644,박찬욱 감독: 헤어질 결심 할 때 듣고 싶은 TOP100,#박찬욱 #이별 #헤어질결심 #감성 #슬픔 #위로 #헤어짐 #멜론 #TOP100,347,32436691 31049625 4023988 1549975 31618207 844...
1530,459121499,여름과 잘어울리는 곡들(좋아요 천개이상),#여름 #여름노래 #Summer #노래모음 #댄스 #명곡 #드라이브 #매장 #매장...,172,30512671 32559781 31175119 4681146 8298724 312...
2427,508639525,연주곡~~,#피아노 #연주,14,30657307 3106066 1884329 31067065 31426882 320...
2788,402039676,요새 들어도 좋은 추억의 노래,#추억 #회상,2349,1632405 1467725 1885164 1285429 2670748 197251...
2845,447413687,옛날노래,#옛날노래,115,2001419 638570 1467722 2575587 3604753 505376 ...
3535,431495858,"뉴이스트, 워너원 민현이 부르고 추천하는 노래",#뉴이스트 #발라드 #황민현 #민현,932,30836801 32129920 31249401 33179831 5700879 31...

In [17]:
# 가장 많이 들어간 tag 찾기
tags = ' '.join(plist1[plist1.songIds.str.contains(songId)]['tag'].values).split()
# 태그 다 조인

In [22]:
np.unique(tags, return_counts=True)

(array(['#2000년대', '#2010년대', '#Summer', '#TOP100', '#ralalra', '#가요',
        '#가을', '#감성', '#기분전환', '#기쁨', '#노래모음', '#노래방', '#노랫말을듣는다', '#뉴이스트',
        '#달콤한', '#댄스', '#드라이브', '#매장', '#매장음악', '#멜로디', '#멜론', '#명곡',
        '#명품', '#미디엄템포', '#민현', '#박찬욱', '#발라드', '#밤', '#사랑', '#산뜻한',
        '#새벽감성', '#슬픔', '#여름', '#여름노래', '#연주', '#옛날노래', '#외출', '#위로',
        '#이별', '#작업', '#추억', '#출퇴근', '#카페', '#피아노', '#헤어질결심', '#헤어짐',
        '#황민현', '#회상'], dtype='<U8'),
 array([1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 4, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1,
        1, 1, 1, 3], dtype=int64))

In [25]:
pd.DataFrame({'tag' : np.unique(tags, return_counts=True)[0], 'count' : np.unique(tags, return_counts=True)[1]}).sort_values(by='count', ascending=False).head()

     tag  count
26  #발라드      4
40   #추억      3
47   #회상      3
38   #이별      2
6    #가을      2

In [28]:
df_tags = pd.DataFrame({'tag' : np.unique(tags, return_counts=True)[0], 'count' : np.unique(tags, return_counts=True)[1]})
df_tags.head()

        tag  count
0   #2000년대      1
1   #2010년대      1
2   #Summer      1
3   #TOP100      1
4  #ralalra      1

In [29]:
str_tags = ' '.join(df_tags.sort_values('count', ascending=False).head(2)['tag'])
str_tags

'#발라드 #추억'

In [ ]:
# 플레이리스트에서 
songs = ' '.join(plist1[plist1.songIds.str.contains(songId)]['songIds'].values).replace(songId, '').split()

In [ ]:
song_df = pd.DataFrame(songs, columns=['songId'])
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343 entries, 0 to 342
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   songId  343 non-null    object
dtypes: object(1)
memory usage: 2.8+ KB

In [ ]:
song_df.head()

    songId
0   110893
1   686651
2  1778230
3  4079731
4  3486450

In [ ]:
# 상위 5위까지
songs = song_df.value_counts().head(5).keys()

In [ ]:
song_list = [song[0] for song in songs]
song_list

['8067023', '8089568', '30190630', '686651', '619115']

In [ ]:
# 해당 songId 들 정보 출력
# 나중에 to_dict()로 반환
df[df.songId.isin(song_list)]

,songId,title,artist,genre,album,lyricist,composer,date,img,comment,like,lyric,plylstSeq
355,30190630,첫눈처럼 너에게 가겠다,에일리(Ailee),발라드 국내드라마,도깨비 OST Part.9,이미나,로코베리,20170107,https://cdnimg.melon.co.kr/cm/album/images/100...,1104,350646,널 품기 전 알지 못했다\n내 머문 세상 이토록 찬란한 것을\n작은 숨결로 닿은 사...,403014132 411111859
360,686651,응급실,izi,발라드 국내드라마,쾌걸춘향 OST,신피디,신피디,20050120,https://cdnimg.melon.co.kr/cm/album/images/000...,188,110187,후회 하고 있어요 \n우리 다투던 그 날 \n괜한 자존심 때문에 \n끝내자고 말을 ...,442706386 403014132
386,8089568,You Are My Everything,거미,발라드 국내드라마,태양의 후예 OST Part.4,지훈,개미,20160310,https://cdnimg.melon.co.kr/cm/album/images/026...,89,137110,처음부터 그대였죠\n나에게 다가올 한 사람\n단 한 번의 스침에도\n내 눈빛이 말을...,411111859 422704801
405,8067023,Everytime,첸 (CHEN),발라드 국내드라마,태양의 후예 OST Part.2,지훈,로코베리,20160225,https://cdnimg.melon.co.kr/cm/album/images/026...,129,139640,OH EVERY TIME I SEE YOU\n그대 눈을 볼 때면\n자꾸 가슴이 또 ...,411111859 416545234
634,619115,I Think I,별,국내드라마,풀 하우스 (KBS 드라마) OST - II,박진영,박진영,20040719,https://cdnimg.melon.co.kr/cm/album/images/000...,41,22831,그럴리 없다고 \n아닐꺼라고 믿었죠 um \n내가 그댈 사랑한다니 \n말도 안되죠 ...,442706386 434150864