### 3. 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

In [ ]:
df[열이름][행인덱스]
df.loc[행인덱스, 열인덱스]
df.iloc[행숫자, 열숫자]

##### 3.1 loc 인덱서

- 인수가 한 개인 경우: 행 선택

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [4]:
df.loc['y'] # 행의 값을 시리즈로 출력

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [5]:
df.loc['x':'y'] # 인덱싱도 가능 x부터 y까지 y포함 (인덱스값을 문자열로주면 뒤에를 포함)

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [6]:
df['x':'y'] # 똑같이나오지만 loc로 기억하기

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [7]:
df.A >15

x    False
y    False
z     True
Name: A, dtype: bool

In [9]:
df[df.A>15] # dataframe으로 보면 15이상인 z 행만 출력 행을선택하게되는...

    A   B   C   D
z  18  19  20  21

- 인수가 두 개인 경우

In [10]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [11]:
# 15 가져오기
df.loc['y','B'] # 행 인덱스, 열 인덱스

15

In [12]:
# 슬라이싱도 가능
df.loc['y':'z', 'B':'C']

    B   C
y  15  16
z  19  20

##### 3.2 iloc 인덱서

- 문자가 숫자로 바뀐다.

In [13]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [14]:
df.iloc[1] # 'y'행, 인덱스 값은1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [15]:
# 숫자니까 행 인덱스 값 2는 포함되지 않는다.
df.iloc[:2] # 숫자라서 2는 미만 /문자열만 포함

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [16]:
df.iloc[1,1] # 행,열

15

- 연습문제 4.3.1

In [17]:
# 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

a,b,c,d,e = [],[],[],[],[]
for i in range(5):
    a.append(np.random.randint(1,26))
    b.append(np.random.randint(1,26))
    c.append(np.random.randint(1,26))
    d.append(np.random.randint(1,26))
    e.append(np.random.randint(1,26))
ddf = pd.DataFrame({'AA':a, 'BB':b, 'CC':c, 'DD':d, 'EE':e})
ddf

   AA  BB  CC  DD  EE
0   4   1  19  16  16
1  22  20  18   8   7
2  22  13  23   9  19
3  10  15   3   7   5
4  13  21  17   9  13

In [23]:
ddf.iloc[2,2], ddf.loc[2,'CC']

(23, 23)

In [44]:
dff = pd.DataFrame(np.arange(25).reshape(5, 5),
                  index=list('vwxyz'),
                  columns=list('ABCDE'))
dff

    A   B   C   D   E
v   0   1   2   3   4
w   5   6   7   8   9
x  10  11  12  13  14
y  15  16  17  18  19
z  20  21  22  23  24

In [50]:
# 가운데 위치 값 가져오기
# 10가지 이상의 방법으로 특정한 행과 열을 선택한다.
dff.C.x, dff['C'].x, dff['C']['x'], dff.C['x'], dff['C'][2]

(12, 12, 12, 12, 12)

In [51]:
dff.loc['x','C'], dff.loc['x'].C, dff.loc['x'][2]

(12, 12, 12)

In [49]:
dff.iloc[2,2], dff.iloc[2][2], dff.iloc[2]['C'], dff.iloc[2].C

(12, 12, 12, 12)

In [54]:
dff[2:3]['C'][0]

12

In [28]:
dff.A

v     1
w     6
x    11
y    16
z    21
Name: A, dtype: int32

In [26]:
dff.iloc[2:3]

    A   B   C   D   E
x  11  12  13  14  15

In [29]:
dff.iloc[2:4]

    A   B   C   D   E
x  11  12  13  14  15
y  16  17  18  19  20

In [32]:
dff.iloc[2:4,1:3]

    B   C
x  12  13
y  17  18