### 문자열 조작

- 데이터탐색 info,shape
- 숫자일경우 subcribe
- filtering

In [1]:
import numpy as np
import pandas as pd

- 데이터 탐색

In [2]:
df = pd.read_csv('data/법정동코드 전체자료.txt', sep='\t', encoding='euc-kr') # 인코딩이euc-kr파일이라 
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [3]:
df.shape # 46328의 열은 3개

(46328, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46328 entries, 0 to 46327
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46328 non-null  int64
 1   법정동명    46328 non-null  object
 2   폐지여부    46328 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [5]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46328 entries, 0 to 46327
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype 
---  ------  --------------  ----- 
 0   법정동코드   46328 non-null  int64 
 1   법정동명    46328 non-null  object
 2   폐지여부    46328 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

SyntaxError: invalid syntax (1136461924.py, line 1)

In [ ]:
df.폐지여부.value_counts()

폐지여부
폐지    25777
존재    20551
Name: count, dtype: int64

- Filtering / Selection(열선택)

In [ ]:
# 폐지된 주소는 삭제하도록 필터링
df.isna().sum()

법정동코드    0
법정동명     0
폐지여부     0
dtype: int64

In [ ]:
df.폐지여부.value_counts()

폐지여부
존재    20551
Name: count, dtype: int64

In [ ]:
# 폐지된 주소는 삭제하도록 필터링
df = df[df.폐지여부 == '존재']
df

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46323  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46324  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46325  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46326  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46327  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20551 rows x 3 columns]

In [ ]:
df.shape

(20551, 3)

- 문자열 인덱싱

In [ ]:
df.법정동명.str[:5].head()  # 스트링으로 앞에서 다섯개만 끄집어낸것임

0    서울특별시
1    서울특별시
2    서울특별시
3    서울특별시
4    서울특별시
Name: 법정동명, dtype: object

In [ ]:
df.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

- 찾기: find, contains

In [ ]:
df.법정동명.str.find('서울').head() # 스트링 0번째부터(index번호) 서울이라는 단어가 있다는 의미

0    0
1    0
2    0
3    0
4    0
Name: 법정동명, dtype: int64

In [ ]:
df.법정동명.str.find('종로구').head()# 스트링 -1은 없다는것 6번째부터 (index번호) 종로구이라는 단어가 있다는 의미
# 0보다크면 내가 찾는글자가 있다 /0보자 작은 -1 이 나오면 없다

0   -1
1    6
2    6
3    6
4    6
Name: 법정동명, dtype: int64

In [ ]:
df.법정동명.str.contains('종로구').head()
# True,False로 찾는 글자가 있는지 알려줌

0    False
1     True
2     True
3     True
4     True
Name: 법정동명, dtype: bool

In [ ]:
df

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46323  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46324  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46325  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46326  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46327  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[20551 rows x 3 columns]

In [ ]:
# 법정동에서 경기도만 추출
df1 = df[df.법정동명.str.contains('경기도')] # contains으로 true 또는 flase를 줘서 하면된다는데
print(df1.shape)
df1.head()

(2211, 3)

           법정동코드             법정동명 폐지여부
4470  4100000000              경기도   존재
4819  4111000000          경기도 수원시   존재
4884  4111100000      경기도 수원시 장안구   존재
4913  4111112900  경기도 수원시 장안구 파장동   존재
4914  4111113000  경기도 수원시 장안구 정자동   존재

In [ ]:
df1 = df.법정동명.str.contains('경기도')
폐지여부는 폐지 , 존재 두개가 ture false였고
여기서는 경기도가 있는게 true이고 아닌게 false라는?

0        False
1        False
2        False
3        False
4        False
         ...
46323    False
46324    False
46325    False
46326    False
46327    False
Name: 법정동명, Length: 20551, dtype: bool

In [ ]:
# 경기도만 추출한 data에서 수원시만 추출
df2 = df1[df1.법정동명.str.contains('수원시')]
print(df2.shape)
df2.head()

(61, 3)

           법정동코드             법정동명 폐지여부
4819  4111000000          경기도 수원시   존재
4884  4111100000      경기도 수원시 장안구   존재
4913  4111112900  경기도 수원시 장안구 파장동   존재
4914  4111113000  경기도 수원시 장안구 정자동   존재
4915  4111113100  경기도 수원시 장안구 이목동   존재

In [ ]:
# 파장동 인덱싱 방법 
# df[열이름][행인덱스] 행인덱스이름이 4913인것임 df.iloc[행숫자, 열숫자]
df2.법정동명[4913], df2.iloc[2,1]

('경기도 수원시 장안구 파장동', '경기도 수원시 장안구 파장동')

- 분할: split

In [ ]:
df2.법정동명.str.split().head()

4819              [경기도, 수원시]
4884         [경기도, 수원시, 장안구]
4913    [경기도, 수원시, 장안구, 파장동]
4914    [경기도, 수원시, 장안구, 정자동]
4915    [경기도, 수원시, 장안구, 이목동]
Name: 법정동명, dtype: object

- 대체: replace, 문자열의 replace method와는 달리 정규표현식 사용 가능

    - "regex"는 "Regular Expression"의 줄임말입니다. 정규 표현식은 문자열에서 특정 패턴을 검색하거나 일치하는 문자열을 대체하거나 추출하는 데 사용되는 텍스트 처리 도구입니다. 정규 표현식은 텍스트 처리, 데이터 검증, 자연어 처리, 웹 스크래핑 등 다양한 분야에서 사용됩니다. 정규 표현식은 일반적으로 특정 문자나 문자열을 대체하거나 검색하는 데 사용되는 패턴 매칭을 지원합니다.

In [ ]:
df2.법정동명.str.replace(' ', '_').head() # 공백을 언더바로 바꿈

4819            경기도_수원시
4884        경기도_수원시_장안구
4913    경기도_수원시_장안구_파장동
4914    경기도_수원시_장안구_정자동
4915    경기도_수원시_장안구_이목동
Name: 법정동명, dtype: object

In [ ]:
df2.법정동명.str.replace('[사-잏]', ' ',regex=True).head()  # 초성이 ㅅ,ㅇ인 데이터를 공백으로

4819            경기도
4884        경기도     장 구
4913    경기도     장 구 파장동
4914    경기도     장 구 정자동
4915    경기도     장 구  목동
Name: 법정동명, dtype: object

- cctv 데이터

In [ ]:
filename = 'data/1서울시 자치구 년도별 CCTV 설치 현황_221231기준 (1).csv'
cctv3 = pd.read_csv(filename, encoding='euc-kr')
cctv3.head()

,구분,총계,2013년 이전\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [ ]:
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr')
cctv.head()

,구분,총계,2013년 이전\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,종로구,"1,980",36,540,107,161,131,158,152,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,중 구,"2,584",130,87,77,236,240,372,386,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,용산구,"2,847",44,50,68,83,295,491,115,322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,성동구,"4,047",58,99,110,366,279,945,459,647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
columns = ['구분','총계',"2013년 이전\n설치된 CCTV",'2013년','2014년','2015년','2016년','2017년','2018년','2019년','2020년','2021년','2022년']
cctv = cctv[columns]
cctv.head()

KeyError: "['2013년 이전\\n설치된 CCTV'] not in index"

In [ ]:
columns = '구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
cctv = cctv[columns]
cctv.head()

,구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",99,110,366,279,945,459,647,485,367,232

In [ ]:
# 총계 데이터를 정수로 변환
cctv['총계'] = cctv.총계.str.replace(',','').astype(int)
cctv.head()

,구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,"3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,1980,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,99,110,366,279,945,459,647,485,367,232

In [ ]:
cctv.head()

,구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,"3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,1980,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,99,110,366,279,945,459,647,485,367,232

In [ ]:
# 나머지 칼럼도 천단위 구분기호 없애고 정수로 변환
for col in columns[2:]:
    cctv[col] = cctv[col].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,99,110,366,279,945,459,647,485,367,232

In [ ]:
for i in cctv.index:
    print(cctv.구분[i], len(cctv.구분[i]))

계 1
종로구 3
중 구 3
용산구 3
성동구 3
광진구 3
동대문구 4
중랑구 3
성북구 3
강북구 3
도봉구 3
노원구 3
은평구 3
서대문구 4
마포구 3
양천구 3
강서구 3
구로구 3
금천구 3
영등포구 4
동작구 3
관악구 3
서초구 3
강남구 3
송파구 3
강동구 3