### 8. 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [10]:
# 기본 포맷
date_str = ['2023, 4, 17'] 
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [11]:
# 기본 포맷 이외의 데이터에는 포맷을 지정해줘야 함
idx = pd.to_datetime(['2023-04-17'], format='%Y-%m-%d')
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [ ]:
idx = pd.to_datetime(['2023, 4, 17', '2023-04-17', '20230417', '2023.4.17', '4/17/23', '041723'], format='%Y-%m-%d')
idx

In [13]:
data_str = ['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21']
idx = pd.to_datetime(data_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [14]:
df = pd.DataFrame(np.random.randint(60, 100, 5),
                  columns=['score'], index=idx)
df # 60~99까지 5개 컬럼은 리스트로주고 idex를 시계열 data로 준것

            score
2023-04-17     84
2023-04-18     78
2023-04-19     61
2023-04-20     83
2023-04-21     80

In [17]:
pd.date_range('2023.4.1', '2023.4.30') # 시작일자, 종료일자

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [18]:
pd.date_range('4/1/23', periods=30) # 시작일자 부터 기간 30개..

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# freq 인수로 특정한 날짜만 생성되도록 할 수도 있다

In [20]:
# 학원에서 수업하는 평일 
pd.date_range('040123', '043023',freq='B')     # biz day B: 주말이 아닌 평일

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28'],
              dtype='datetime64[ns]', freq='B')

In [21]:
# 1년중 각 월의 주말이 아닌 시작일
# BMS: 주말이 아닌 평일 중에서 각 달의 첫날
pd.date_range('2023-1-1', '2023-12-31', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [22]:
ts = pd.DataFrame(np.random.randint(100,1000,100),
                  index=pd.date_range('20230101', periods=100))
ts.head()

              0
2023-01-01  889
2023-01-02  265
2023-01-03  312
2023-01-04  143
2023-01-05  780

In [25]:
ts

              0
2023-01-01  889
2023-01-02  265
2023-01-03  312
2023-01-04  143
2023-01-05  780
...         ...
2023-04-06  711
2023-04-07  815
2023-04-08  598
2023-04-09  216
2023-04-10  150

[100 rows x 1 columns]

In [23]:
# 월단위로 묶어서
# 매달의 마지막날.........
ts.resample('M').first()

              0
2023-01-31  889
2023-02-28  230
2023-03-31  325
2023-04-30  818

In [24]:
ts.resample('W').first()

              0
2023-01-01  889
2023-01-08  265
2023-01-15  695
2023-01-22  668
2023-01-29  758
2023-02-05  967
2023-02-12  675
2023-02-19  923
2023-02-26  888
2023-03-05  117
2023-03-12  877
2023-03-19  390
2023-03-26  793
2023-04-02  565
2023-04-09  889
2023-04-16  150