### DAO를 이용하여 데이터 베이스 활용하기

In [1]:
import member_dao as mdao

In [2]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: 제임스, gender: 1
mid: 2, mname: 마리아, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2

In [3]:
# name = request.form['name']
# gender = request.form['gender']
# 위 형식은 input으로 받을 때
name, gender = '테스트', 1
params = (name, gender)
mdao.insert_member(params)

In [4]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}') # 하나지워진거 확인

mid: 1, mname: 제임스, gender: 1
mid: 2, mname: 마리아, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2
mid: 7, mname: 테스트, gender: 1

In [5]:
params = ('테스트2',2,6)
mdao.update_member(params)

In [6]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: 제임스, gender: 1
mid: 2, mname: 마리아, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2
mid: 7, mname: 테스트, gender: 1

In [7]:
mdao.delete_member(6)

In [8]:
rows = mdao.get_members()
for row in rows:
    print(f'mid: {row[0]}, mname: {row[1]}, gender: {row[2]}')

mid: 1, mname: 제임스, gender: 1
mid: 2, mname: 마리아, gender: 2
mid: 3, mname: 홍길동, gender: 1
mid: 4, mname: 차정숙, gender: 2
mid: 7, mname: 테스트, gender: 1